<div>
  <label [for]="fieldName">
    <span>
      {{ label }}
    </span>
    <app-field-errors [formControl]="formControl">
    </app-field-errors>
  </label>
  <div class="input-container">
    <input [type]="fieldType"
      [id]="fieldName"
      [name]="fieldName"
      [value]="value"
      [disabled]="isDisabled"
      (input)="onChange($event)"
      (blur)="touched()">
    <button type="button" class="toggle-visibility-button"
      (click)="togglePasswordVisible()">
      {{ fieldType === 'text' ? 'Hide' : 'Show' }}
    </button>
  </div>
</div>
