<div class="profile-form">
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Profile:</h1>
    <ng-container *ngFor="let _ of profileForms.controls; let index = index">
      <app-profile-form
      formName="profiles"
      [indexChildForm]="index"
      (deleteProfileEvent)="deleteProfile($event)"></app-profile-form>
      <br/>
    </ng-container>
    <div>
      <button type="button" (click)="addProfile()">
        Add Profile
      </button>
    </div>
    <br/>
    <div>
      <button type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
<br/>
<button (click)="openModal(modalTemplate)">Open modal</button>
<br/>
<br/>
<button (click)="openModals(modalTemplates)">Open modal 2</button>
<br/>
<br/>
<button (click)="openModalError()">Open modal error</button>

<ng-template #modalTemplate>
  <div>This is our custom modal content</div>
</ng-template>

<ng-template #modalTemplates>
  <div>This is our custom modal content 2</div>
</ng-template>
